{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Christ is The Answer Ministries</title>
</head>
<body>
    <img src="{% static 'images/church_logo.png' %}" alt="CITAM Church Logo">
    <h1>CITAM CHURCH SCHOOL REGISTRATION</h1>
    <div id="user-selection">
        <p id="user-message"></p>
        <div id="user-buttons">
            <button class="user-button" onclick="selectUser('login')">Login</button>
            <button class="user-button" onclick="selectUser('about')">About Us</button>
            {% comment %} <button class="user-button" onclick="selectUser('parent')">Parent</button> {% endcomment %}
        </div>
    </div>

    <script>
        function selectUser(userType) {
            switch (userType) {
                case 'login':
                    window.location.href = '{% url 'login' %}'; 
                    break;
                case 'about':
                    window.open("https://citam.org/who-we-are/", "_blank"); 
                    break;
                {% comment %} case 'parent':
                    window.location.href = 'parent.html'; 
                    break; {% endcomment %}
                default:
                    alert(`You have selected: ${userType}`);
                    break;
            }
        }
    </script>
</body>
</html>