
{% block content %}

{% load static %}
{% comment %} <h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

</head>
<body>

    <img src="{% static 'images/church_logo.png' %}" alt="Church logo">
    <div class="login-container">
        <h2>Login</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <form action="{% url 'login' %}" method="post" id="loginForm">
            {% csrf_token %}
            
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            

                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            

            {% comment %} <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" required>
                    <option value="admin">Admin</option>
                    <option value="pastor">Pastor</option>
                    <option value="teacher">Teacher</option>
                    <option value="parent">Parent</option>
                </select>
            </div> {% endcomment %}

            
                <button type="submit">Login</button>
            
        </form>
    </div>

</body>
</html>

{% endblock content %}