<!-- create_student.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student</title>
</head>
<body>

    <h1>Create a New Student</h1>
		{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <form method="post" action="{% url 'add_students' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Student</button>
    </form>

</body>
</html>
